.code{
  height:450px;
  width:45%;
  margin-top:10px;
  float:center;
  margin-left: 100px;  
}

.btnen{  
  height:30px;
  width:150px;
  margin:5px;
  background-color: #d9a261;
}

div.wrapper {
  margin-top: 30px;
  width:100%;
}

div.left_block {
   margin-top: 10px;
   float:left;
   width:200px;
}

body
{
  background-color: #9e92a8;
    // #4B0082;
    // RGB(31,35,36);
}

.prise
{
  margin-left: 24%;
  width: 45%;
}